{{- $recent := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- $currentPost := . }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}
{{- $recentToShow := slice }}

{{- if not .IsHome }}
    {{- $recentToShow = $recent }}
{{- else }}
    {{- $recentToShow = after 10 $recent }}
{{- end }}

{{- $filteredRecent := slice }}
{{- range $recentToShow }}
    {{- if and (ne . $currentPost) (not (in .Params.categories "holiday")) }}
        {{- $filteredRecent = $filteredRecent | append . }}
    {{- end }}
{{- end }}

{{- if gt (len $filteredRecent) 0 }}
<div class="widget-recent widget">
    <h4 class="widget__title">{{ if .IsHome }}More Posts{{ else }}{{ T "recent_title" }}{{ end }}</h4>
    <div class="widget__content">
        <ul class="widget__list">
            {{- range first $recent_num $filteredRecent }}
                <li class="widget__item {{ if in .Params.categories "dwtd" }}dwtd__widget__item{{ else if in .Params.categories "backstory-podcast" }}backstory__widget__item{{ end }}">
                    <a class="widget__link" href="{{ .RelPermalink }}">
                        {{ .Title }}
                        {{- with .Params.thumbnail }}
                            <div style="min-height:200px;" class="widget__thumbnail">
                                {{- if and (eq (kindOf .Page) "page") (in .Page.URL "page") }}
                                    <img loading="lazy" src="../../../{{ . }}" alt="Thumbnail" class="widget__thumbnail-image">
                                {{- else }}
                                    <img loading="lazy" src="../../{{ . }}" alt="Thumbnail" class="widget__thumbnail-image">
                                {{- end }}
                            </div>
                        {{- end }}
                    </a>
                </li>
            {{- end }}
        </ul>
    </div>
</div>
{{- end }}
