{{- $recent := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{- $currentPost := . }}
{{- $recent_num := (.Site.Params.widgets.recent_num | default 10) }}

{{- $recentToShow := slice }}

{{- if .IsHome }}
  {{- $recentToShow = after 10 $recent }}
{{- else if and (ne .Kind "page") .Paginator }}
  {{- $recentToShow = where $recent "Params.categories" "not in" (slice "holiday") }}
{{- else }}
  {{- $currentCategories := .Params.categories | default slice }}
  {{- if gt (len $currentCategories) 0 }}
    {{- $firstCategory := index $currentCategories 0 }}
    {{- $recentToShow = where $recent "Params.categories" "intersect" (slice $firstCategory) }}
  {{- else }}
    {{- $recentToShow = where $recent "Params.categories" "not in" (slice "holiday") }}
  {{- end }}
{{- end }}

{{- $filteredRecent := slice }}
{{- range $recentToShow }}
  {{- if and (ne . $currentPost) (not (in .Params.categories "holiday")) }}
    {{- $filteredRecent = $filteredRecent | append . }}
  {{- end }}
{{- end }}

{{- if gt (len $filteredRecent) 0 }}
<div class="widget-recent widget">
  <h3 class="widget__title">{{ if .IsHome }}More Posts{{ else }}Related{{ end }}</h3>
  <div class="widget__content">
    <ul class="widget__list">
      {{- range first $recent_num $filteredRecent }}
        <li class="widget__item {{ if in .Params.categories "dwtd" }}dwtd__widget__item{{ else if in .Params.categories "backstory-podcast" }}backstory__widget__item{{ else if in .Params.categories "bcso" }}bcso__widget__item{{ else if in .Params.categories "elections" }}elections__widget__item{{ else if in .Params.categories "repost" }}repost__widget__item{{ end }}">
          <a class="widget__link{{ if in .Params.categories "bcso" }} bcso__widget__link{{ end }}{{ if in .Params.categories "alabama" }} alabama__widget__link{{ end }}" href="{{ .RelPermalink }}">
            <h4>{{ .Title }}</h4>
            {{- if .Params.thumbnail }}
              <div class="widget__thumbnail">
                {{- $thumbnail := .Params.thumbnail }}
                <img width="336px" height="174px" loading="lazy" src="{{ if strings.Contains .Site.BaseURL "rippreport.com" }}/cdn-cgi/image/width=336,onerror=redirect,format=auto/{{ $thumbnail }}{{ else }}{{ $thumbnail | relURL }}{{ end }}" alt="{{ .Title }}" class="widget__thumbnail-image">
              </div>
            {{- end }}
            <p style="text-align:left;" class="widget__summary">{{ .Summary | plainify }}</p>
          </a>
        </li>
      {{- end }}
    </ul>
  </div>
</div>
{{- end }}
