{{- /* DEBUG: Main sections: {{ .Site.Params.mainSections }} */ -}}
{{- $recent := where .Site.RegularPages "Section" "in" (.Site.Params.mainSections | default (slice "p" "post")) -}}
{{- /* DEBUG: Recent count: {{ len $recent }} */ -}}
{{- $currentPost := . -}}
{{- $recent_num := .Site.Params.widgets.recent_num | default 10 -}}

{{- $filteredRecent := slice -}}

{{- if .IsHome -}}
{{- /* On home page, skip first 10 if on first page */ -}}
{{- if .Paginator.HasPrev -}}
{{- $filteredRecent = $recent -}}
{{- else -}}
{{- $filteredRecent = after 10 $recent -}}
{{- end -}}
{{- else -}}
{{- /* On single/list pages */ -}}
{{- $relatedArticles := .Params.related_articles -}}
{{- if $relatedArticles -}}
{{- range $relatedArticles -}}
{{- $slug := .slug -}}
{{- if ne (.llm_score | default 0) 0 -}}
{{- range $recent -}}
{{- $actualSlug := .Slug | default (path.Base .File.Dir) -}}
{{- if eq $actualSlug "index" -}}{{- $actualSlug = path.Base .File.Dir -}}{{- end -}}
{{- if eq $actualSlug $slug -}}
{{- $filteredRecent = $filteredRecent | append . -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}
{{- end -}}

{{- /* Fallback if no related articles found */ -}}
{{- if eq (len $filteredRecent) 0 -}}
{{- $filteredRecent = where $recent "Section" "in" (.Site.Params.mainSections | default (slice "p" "post")) -}}
{{- end -}}
{{- end -}}

{{- /* Final filter: exclude current post and holiday posts */ -}}
{{- $finalRecent := slice -}}
{{- range $filteredRecent -}}
{{- if and (ne . $currentPost) (not (in .Params.categories "holiday")) -}}
{{- $finalRecent = $finalRecent | append . -}}
{{- end -}}
{{- end -}}

{{- if gt (len $finalRecent) 0 -}}
<div class='widget-recent widget'>
  <h3 class='widget__title'>{{ if .IsHome }}More Posts{{ else }}Related{{ end }}</h3>
  <div class='widget__content'>
    <ul class='widget__list'>
      {{- $shown := 0 -}}
      {{- $seen := slice -}}

      {{- $hooksData := dict -}}
      {{- if eq .Kind "page" -}}
      {{- $hooksFile := .Resources.GetMatch "sidebar-hooks.yaml" -}}
      {{- if $hooksFile -}}
      {{- $hooksData = $hooksFile.Content | transform.Unmarshal -}}
      {{- end -}}
      {{- end -}}

      {{- range $index, $page := $finalRecent -}}
      {{- if and (lt $shown $recent_num) (not (in $seen $page.Title)) -}}
      {{- $shown = add $shown 1 -}}
      {{- $seen = $seen | append $page.Title -}}
      <li class='widget__item'>
        <a class='widget__link' href='{{ $page.RelPermalink }}'>
          <h4>{{ $page.Title | safeHTML }}</h4>
          {{- if $page.Params.thumbnail -}}
          <div class='widget__thumbnail'>
            <img width='336' height='174' {{ if gt $shown 1 }}loading='lazy' {{ end }}
              src='{{ partial "image-url.html" (dict "path" $page.Params.thumbnail "width" 336 "quality" 85 "onerror" "redirect") }}'
              alt='{{ $page.Title | safeHTML }}' class='widget__thumbnail-image'>
            {{- $webpAnimated := $page.Params.webp_animated -}}
            {{- $gif := $page.Params.gif -}}
            {{- $animatedSrc := $webpAnimated | default $gif -}}
            {{- if $animatedSrc -}}
            <img class="widget__animated"
              data-src='{{ partial "image-url.html" (dict "path" $animatedSrc "bypass_cf" true) }}'
              alt='{{ $page.Title | safeHTML }} - animated'>
            {{- end -}}
          </div>
          {{- end -}}
          <p style='text-align:left;' class='widget__summary'>
            {{- $text := "" -}}
            {{- if $hooksData.hooks -}}
            {{- $pageSlug := $page.Slug | default (path.Base $page.File.Dir) -}}
            {{- if eq $pageSlug "index" -}}{{- $pageSlug = path.Base $page.File.Dir -}}{{- end -}}
            {{- $entry := index $hooksData.hooks $pageSlug -}}
            {{- if $entry -}}
            {{- if eq (printf "%T" $entry) "string" -}}
            {{- $text = $entry -}}
            {{- else -}}
            {{- $text = $entry.text -}}
            {{- end -}}
            {{- end -}}
            {{- end -}}

            {{- if $text -}}
            {{ $text | safeHTML }}
            {{- else -}}
            {{ $page.Summary | plainify | truncate 400 | safeHTML }}
            {{- end -}}
          </p>
        </a>
      </li>
      {{- end -}}
      {{- end -}}
    </ul>
  </div>
</div>
{{- end -}}