<div class="widget widget-subscribe">
  <h4 class="widget__title">Subscribe</h4>
  <div class="subscribe-form">
    <form id="subscribe-form" class="subscribe-form__form">
      <input 
        type="email" 
        id="subscribe-email" 
        name="email" 
        placeholder="Enter your email" 
        required 
        class="subscribe-form__input"
      >
      <input type="text" name="email_check" style="display:none" tabindex="-1" autocomplete="off">
      <button type="submit" class="subscribe-form__btn btn">Subscribe</button>
    </form>
    <div id="subscribe-message" class="subscribe-form__message" style="display:none;"></div>
  </div>
</div>
