{{- $tags := .Site.Taxonomies.tags }}
{{- if gt (len $tags) 0 }}
<div class="widget-taglist widget">
  <h4 class="widget__title">{{ T "tags_title" }}</h4>
  <div class="widget__content">
    {{- range $name, $taxonomy := $tags }}
      {{- with $.Site.GetPage (printf "/tags/%s" $name) }}
        {{/* 1. Define the site to search. 
          You can hardcode your domain like this.
        */}}
        {{- $siteToSearch := "rippreport.com" -}}

        {{/* 2. Construct the search query. 
          The '$name' variable is the URL-friendly version of the tag (e.g., "waterfront-project").
        */}}
        {{- $searchQuery := printf "site:%s %s" $siteToSearch $name -}}

        {{/* 3. Build the final Google search URL. 
          We replace the space in the query with a '+' which is how spaces are represented in search URLs.
        */}}
        {{- $googleURL := printf "https://www.google.com/search?q=%s" ($searchQuery | replace " " "+") -}}

        {{/* 4. Create the link.
          The href now points to the Google search URL.
          I've also added target="_blank" to open the link in a new tab, which is standard for external links.
        */}}
        <a class="widget-taglist__link widget__link btn" href="{{ $googleURL }}" title="Search for '{{ .Title }}' on {{ $siteToSearch }}" target="_blank" rel="noopener noreferrer">
          {{- .Title -}}{{- if $.Site.Params.widgets.tags_counter }} ({{ $taxonomy.Count }}){{ end -}}
        </a>
      {{- end }}
    {{- end }}
  </div>
</div>
{{- end }}
