/* Global */
body {
  background: #1d1c1c;
}
.container, .container--outer {
  max-width: 1400px;
}
.post {
  margin: auto;
  max-width: 1200px;
}

/* Header */
.header {
  background: #232222;
  max-height: 125px;
}

/* Post */
.post__title {
  font-size: 65px;
  word-wrap: normal;
  font-weight: 900;
}
.post__header, .post__content {
  padding: 2em;
}

/* List */
.list__title {
  font-size: 90px;
  text-align: center;
}
.list__thumbnail {
  margin: 0;
}
.list__thumbnail img {
  max-width: none;
  margin-bottom: 2em;
}
.list__footer-readmore {
  display: block;
  margin: auto;
  width: 215px;
  margin-top: 15px;
}

/* Backstory */
.backstory__title {
  font-family: 'Amatic SC', cursive;
  font-size: 70px;
  background-color: #5083df;
  text-align: center;
}
.backstory__btn {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  background-color: #5083df !important;
  color: black !important;
  text-align: center;
}
.backstory__post {
  background: #5083df36;
}

/* Other */
.post__meta {
  border: none;
}
.list__meta {
  text-align: center;
}
.cactus-comment-avatar {
  display: none !important;
}
.divider {
  background-color: transparent;
}
.widget-search__form {
  background: transparent;
}
.backstory-sidebar {
}
.icon-facebook {
  margin-right: 10px;
}
.icon-twitter {
  margin-right: 10px;
}
.icon-email {
  margin-right: 10px;
}

/* Media queries */
@media screen and (max-width: 620px) {
  .backstory-logo {
    float: none;
    text-align: center;
  }

  .backstory-social {
    float: none;
    text-align: center;
    margin: 0;
    margin-top: 10px;
  }

  .list__thumbnail {
    max-width: none;
    width: 99%;
    min-height: none;
  }

  p {
    font-size: 16px;
  }

  .wrapper, .logo {
    padding: 0;
    padding-top: 10px;
  }

  .title-logo, a.logo__link span {
    font-size: 1.9em;
  }

  .post__title {
    font-size: 45px;
  }

  .backstory__post .content {
    padding: 1em;
    margin: 0;
  }

  .list__thumbnail img {
    padding: 0;
  }

  h2.list__title {
    font-size: 60px;
    max-width: 100%;
  }

  .post .content {
    padding: 1em;
  }

  .backstory__post {
    padding-top: 10px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .list__footer-readmore {
    margin-bottom: 2em;
  }
}
