body {
    background: linear-gradient(90deg, rgba(0, 72, 120, 1) 14%, rgba(0, 62, 103, 1) 89%);
}

.header {
    background: linear-gradient(347deg, rgba(17, 17, 17, 1) 14%, rgba(27, 27, 27, 1) 89%);
    max-height: 125px;
}

.list__meta{text-align:center;}
#eagle {
    max-width: none;
    height: 75px;
    width: 292px;
}
 
.list__title {
    font-size: 90px;
    text-align:center;
    font-family: Sans;
}

.list__thumbnail img {
    max-width: none;
    margin-bottom: 2em;
    padding: 2em;
}


.container--outer,
.container {
    max-width: 1400px;
}

.post {
    margin: auto;
    margin-bottom: 4em;
    max-width: 1200px;
    padding: 2em;
}

.list__footer-readmore {
    display: block;
    margin: auto;
    width: 215px;
    float: none;
    margin-top: 15px;
}

.main__title {
    display: none;
}

.backstory__title {
    font-family: 'Amatic SC', cursive;
    font-size: 70px;
    background-color: #5083df;
    text-align: center;
}

.backstory__btn {
    font-family: 'Amatic SC', cursive;
    font-size: 2.5em !important;
    background-color: #5083df !important;
    color:black !important;
    text-align: center;
}

.backstory__post{background:#5083df36}

.btn {
    text-align: center;
    font-size:1.5em;
}

.thumbnail__video {
    background-image: url("https://rippreport.com/img/backstory-loading.jpg");
    background-size: contain;
    background-repeat: no-repeat;
}



@media screen and (max-width: 620px) {
    .list__thumbnail {
        max-width: none;
        width: 99%;
    }

    .list__thumbnail img {
        padding: 0;

    }

    h2.list__title {
        font-size: 60px;
    }

    .post {
        padding: 0;
    }

    .list__footer-readmore {
        margin-bottom: 2em;
    }
}