{{ define "main" }}
<main class="main list" role="main">
  {{- with .Title }}
  <header class="main__header">
    <h1 class="main__title">{{ . }}</h1>
  </header>
  {{- end }}
  {{- with .Content }}
  <div class="content main__content clearfix">
    {{ . }}
  </div>
  {{- end }}
  {{ range .Paginator.Pages }}
    {{- if eq .Index 0 }}
      {{- partial "summary" (dict "IsFirstPost" true .) }}
    {{- else }}
      {{- partial "summary" . }}
    {{- end }}
  {{- end }}
</main>
{{ partial "pagination.html" . }}
{{ end }}
