{{ define "main" }}
{{ $categories := .Params.categories }}

<main class="main
	{{ with $categories }}
		{{ if in $categories "dwtd" }} dwtd__article{{ end }}
		{{ if in $categories "backstory-podcast" }} backstory__article{{ end }}
	{{ end }}
" role="main">
	<article class="post
		{{ with $categories }}
			{{ if in $categories "backstory-podcast" }} backstory__post{{ end }}
			{{ if in $categories "dwtd" }} dwtd__post{{ end }}
		{{ end }}
	">
		<header class="post__header
			{{ with $categories }}
				{{ if in $categories "backstory-podcast" }} backstory__header{{ end }}
				{{ if in $categories "dwtd" }} dwtd__header{{ end }}
			{{ end }}
		">
			<h1 class="post__title
				{{ with $categories }}
					{{ if in $categories "backstory-podcast" }} backstory__title{{ end }}
					{{ if in $categories "dwtd" }} dwtd__title{{ end }}
				{{ end }}
			">{{ .Title }}</h1>
			{{ with .Params.lead }}
				<p class="post__lead">{{ . }}</p>
			{{ end }}
			{{ with partial "post_meta.html" . }}
				<div class="post__meta meta">{{ . }}</div>
			{{ end }}
			{{ if in $categories "dwtd" }}
				<a href="https://deal-with-the-devil.com">
					<div class="dwtd__post-link"></div>
				</a>
			{{ end }}
		</header>
		{{ partial "post_thumbnail.html" (dict "class" "post" "page" .) }}
		{{ partial "post_toc.html" . }}
		<div class="content post__content
			{{ with $categories }}
				{{ if in $categories "backstory-podcast" }} backstory__content{{ end }}
				{{ if in $categories "dwtd" }} dwtd-wrapper{{ end }} clearfix
			{{ end }}">
			{{ .Content }}
		</div>
		{{ with .Params.tags }}
			<footer class="post__footer
				{{ with $categories }}
					{{ if in $categories "backstory-podcast" }} backstory__footer{{ end }}
					{{ if in $categories "dwtd" }} dwtd__footer{{ end }}
				{{ end }}
			">
				{{ partial "post_tags.html" . }}
			</footer>
		{{ end }}
	</article>
</main>
<section class="comments
	{{ with $categories }}
		{{ if in $categories "backstory-podcast" }} backstory__comments{{ end }}
		{{ if in $categories "dwtd" }} dwtd__comments{{ end }}
	{{ end }}
">
</section>
{{ partial "authorbox.html" . }}
{{ partial "pager.html" . }}
{{ end }}
