<article class="list__item post {{ if in .Params.categories "backstory-podcast" }}backstory__post{{ end }} {{ if in .Params.categories "dwtd" }}dwtd{{ end }}">
	{{ partial "post_thumbnail.html" (dict "class" "list" "page" .) }}
	<header class="list__header">
		<h2 class="list__title post__title {{ if in .Params.categories "backstory-podcast" }}backstory__title{{ end }}">
			<a href="{{ .RelPermalink }}" rel="bookmark">
			{{ .Title }}
			</a>
		</h2>
		{{- with .Params.lead }}
		<p class="list__lead post__lead">{{ . }}</p>
		{{- end }}
		{{ with partial "post_meta.html" . -}}
		<div class="list__meta meta">{{ . }}</div>
		{{- end }}
	</header>
	<div class="content list__excerpt post__content clearfix">
		{{ .Summary }}
	</div>
	{{- if .Site.Params.readmore }}
	{{- if .Truncated }}
	<div class="list__footer clearfix">
		<a class="list__footer-readmore btn {{ if in .Params.categories "backstory-podcast" }}backstory__btn{{ end }}" href="{{ .RelPermalink }}">More</a>
	</div>
	{{- end }}
	{{- end }}
</article>
