<article class="list__item post {{ if in .page.Params.categories "backstory-podcast" }}backstory__post{{ end }} {{ if in .page.Params.categories "dwtd" }}dwtd{{ end }} {{ if in .page.Params.categories "holiday" }}holiday{{ end }}">
    {{ partial "post_thumbnail.html" (dict "class" "list" "page" .page "isFirst" .isFirst) }}
    <header class="list__header">
        <h2 class="list__title post__title {{ if in .page.Params.categories "backstory-podcast" }}backstory__title{{ end }}">
            <a href="{{ .page.RelPermalink }}" rel="bookmark">
                {{ .page.Title }}
            </a>
        </h2>
        {{- if in .page.Params.categories "dwtd" }}
        <a href="https://deal-with-the-devil.com">
            <div class="dwtd__link">
                <!-- Add any additional content or styling here -->
            </div>
        </a>
        {{- end }}
        {{- with .page.Params.lead }}
        <p class="list__lead post__lead">{{ . }}</p>
        {{- end }}
        {{ with partial "post_meta.html" .page -}}
        <div class="list__meta meta">{{ . }}</div>
        {{- end }}
    </header>
    <div class="content list__excerpt post__content clearfix">
        {{ .page.Summary }}
    </div>
    {{- if .page.Site.Params.readmore }}
    <div class="list__footer clearfix">
        <a class="list__footer-readmore btn {{ if in .page.Params.categories "backstory-podcast" }}backstory__btn{{ end }}" href="{{ .page.RelPermalink }}">More</a>
    </div>
    {{- end }}
</article>
