/* Home page specific critical CSS */
.list__title {
    font-size: 2.5rem;
    padding: 30px;
}

.list__header {
    text-align: center;
}

article.list__item {
    background: #fff;
    border: none;
    margin-bottom: 0;
    padding-bottom: 1.25rem;
    max-width: 725px;
}

.list__footer-readmore {
    float: none;
    margin: auto;
    display: flex;
    width: 135px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.25rem;
    justify-content: center;
}

.pagination__item {
    background: transparent;
}

.pagination__item--jump {
    align-items: center;
    gap: 5px;
    margin: 0 10px;
}

.pagination__input {
    width: 50px;
    padding: 5px 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    text-align: center;
}

.pagination__button {
    padding: 5px 10px;
    font-size: 14px;
    min-width: 40px;
    border: transparent;
}

/* Category specific styles */
.bcso__list__header {
    color: #000;
    padding: 20px 0;
    min-width: 105%;
    background: repeating-linear-gradient(45deg, #000, #000 50px, #d5be00 50px, #d5be00 100px);
    margin-left: -10px;
    margin-top: -26px;
    box-shadow: 5px 5px 25px rgb(0 0 0/.6);
    transform: rotate(1deg);
}

.bcso__title {
    background-color: #d5be00;
    font-family: sans-serif;
    max-width: 110%;
}

.bcso__title a {
    color: black;
}

.backstory__title {
    font-family: 'Amatic SC', cursive;
    background: linear-gradient(to right, #646464 0%, #dfe2e7 50%, #646464 100%);
}

.backstory__title a {
    color: black;
}

.elections__title {
    background: linear-gradient(to bottom, #dc143c 0%, #dc143c 2.5%, #ffffff 2.5%, #ffffff 5%, #1e3a8a 5%, #1e3a8a 100%);
    color: white;
    font-weight: bold;
}

.elections__title a {
    color: white;
}