{{- $summary := .Get "summary" -}}
{{- if not $summary -}}
    {{- with .context -}}
        {{- if reflect.IsMap .Page -}} {{- /* Check if .Page is a map */ -}}
            {{- $summary = .Page.Summary -}}
        {{- else -}}
            {{- $summary = .Page -}} {{- /* If .Page is not a map, assume it's the summary itself */ -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

{{- $cleanedSummary := $summary -}}
{{- $cleanedSummary = replaceRE `https?:\/\/[^\s]+` " " $cleanedSummary -}}
{{- $cleanedSummary = replaceRE `&rsquo;` "'" $cleanedSummary -}}
{{- $cleanedSummary = replaceRE `&ldquo;` "\"" $cleanedSummary -}}
{{- $cleanedSummary = replaceRE `&rdquo;` "\"" $cleanedSummary -}}
<p>{{ $cleanedSummary }}</p>
