{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}

{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix := and $logoImage $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<a class="logo__link" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }} rel="home">
			<div class="logo__item logo__imagebox">
				<div class="logo__img"><div class="eagle"></div></div>
			</div>
		</a>
	</div>
{{- end }}