{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}
{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix := and $logoImage $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<a class="logo__link" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }} rel="home">
			<span class="title-logo">RIPP</span>
			<div class="logo__item logo__imagebox">
				<div class="logo__img">{{ partial "svg/eagle-logo.svg" (dict "id" "eagle") -}}
				</div>
			</div>
			<span class="title-logo">REPORT</span>
		</a>
	</div>
{{- end }}