{{- $logoTitle := .Site.Params.logo.title | default .Site.Title -}}
{{- $logoSubtitle := .Site.Params.logo.subtitle | default .Site.Params.subtitle -}}
{{- $logoImage := .Site.Params.logo.image -}}
{{- if or $logoTitle $logoImage }}
	{{/* Defined when logo is mixed (image + text) */}}
	{{- $logoMix := and $logoImage $logoTitle -}}

	<div class="logo{{ with $logoMix }} logo--mixed{{ end }}">
		<a class="logo__link" href="{{ "" | relLangURL }}"{{ with $logoTitle }} title="{{ . }}"{{ end }} rel="home">
			<span class="title-logo" style="margin-right:8px;">RIPP</span>
			<div class="logo__item logo__imagebox">
				<div class="logo__img">{{ partial "svg/eagle-logo.svg" (dict "id" "eagle") -}}
				</div>
			</div>
			<span class="title-logo" style="margin-left:8px;">REPORT</span>
		</a>
	</div>
	<div class="top-social"><a href="https://facebook.com/therippreport">{{ partial "svg/facebook.svg" (dict "id" "facebook") -}}</a><a href="https://twitter.com/rippreport">{{ partial "svg/x.svg" (dict "id" "twitter") -}}</a><a style="margin-top: -2px;" href="mailto:contact@rippreport.com">{{ partial "svg/email.svg" (dict "id" "email") -}}</a></div>

<div class="search-bar">
    <form action="https://www.google.com/search" method="GET" target="_blank" class="header-search">
        <input type="text" name="q" placeholder="Search" required>
        <input type="hidden" name="as_sitesearch" value="rippreport.com">
        <button type="submit" class="btn">Search</button>
    </form>
</div>
{{- end }}
