<style>
.post__title {
background: #333;
  color: white;
  padding: 33px;
  font-size:2rem;
  margin:0;
}
.meta {display:none;}
.social-preview {
    width: 381px;
    max-width: 95%;
    margin: auto;
    background: #eaeaea;
    padding-bottom: .25rem;
    margin-bottom: 2rem;
    min-height:550px;
}
.social-preview:nth-child(odd) {
    float: right;
    margin-left: 2rem;
}

.social-preview a p {
    color: black;
    padding: 2rem;
    font-weight:300;
    font-size:.9rem;
}

.social-preview h2 {
    font-size: 1.5rem;
    font-weight: 900;
    text-align: center;
    margin-top: 1.25rem;
    padding:.25rem;
}

.social-preview span {
    text-align: center;
    padding: 1rem;
    background: black;
    color: white;
    width: 60%;
    margin: auto;
    margin-bottom:2rem;
}
.social-preview a img,
.widget__thumbnail-image,
h2.list__title {
    max-width: 100%
}
</style>
