{{- $class := .class }}
{{- $page := .page }}
{{- $index := .index | default 0 }}
{{- $defaultVisibility := slice "list" "post" }}

{{- if $youtube := $page.Params.youtube }}
  <a class="thumbnail__link" href="{{ $page.RelPermalink }}" aria-label="View {{ $page.Title }}">
    <figure class="thumbnail">
      <div class="thumbnail__video" style="background-image: url('/cdn-cgi/image/width=750,quality=50,blur=5,format=auto{{ $page.Params.thumbnail | relURL }}'); background-size: cover; background-position: center;">
        <div class="video-container">
          <iframe
            loading="lazy"
            class="thumbnail__iframe"
            src="https://www.youtube.com/embed/{{ $youtube }}"
            title="{{ $page.Title }} - YouTube video"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          {{ partial "svg/loading.svg" (dict "class" "loading") -}}
        </div>
      </div>
    </figure>
  </a>

{{- else if $rumble := $page.Params.rumble }}
  <figure class="thumbnail">
    <div class="thumbnail__video" style="background-image: url('/cdn-cgi/image/width=750,quality=50,blur=5,format=auto{{ $page.Params.thumbnail | relURL }}'); background-size: cover; background-position: center;">
      <div
        id="rumble_{{ $rumble }}"
        class="video-container"
        data-rumble-id="{{ $rumble }}"
      >
        <script>
          (function(r,u,m,b,l,e){
            r._Rumble=b;
            if(!r[b]){
              r[b]=function(){
                (r[b]._=r[b]._||[]).push(arguments);
                if(r[b]._.length==1){
                  l=u.createElement(m);
                  e=u.getElementsByTagName(m)[0];
                  l.async=1;
                  l.src="https://rumble.com/embedJS/u4"+(arguments[1].video?'.'+arguments[1].video:'')+"/?url="+encodeURIComponent(location.href)+"&args="+encodeURIComponent(JSON.stringify([].slice.apply(arguments)));
                  e.parentNode.insertBefore(l,e);
                }
              }
            }
          })(window, document, "script", "Rumble");
          Rumble("play", {"video":"{{ $rumble }}","div":"rumble_{{ $rumble }}"});
        </script>
      </div>
      {{ partial "svg/loading.svg" (dict "class" "loading") -}}
    </div>
  </figure>

{{- else }}
  {{- if $thumbnail := $page.Params.thumbnail }}
    {{- $visibility := $page.Site.Params.thumbnail.visibility | default $defaultVisibility }}
    {{- $valueType := printf "%T" $thumbnail -}}
    {{- $isMap := in $valueType "map" -}}

    {{- if $isMap }}
      {{- $visibility = default $defaultVisibility (default $page.Site.Params.thumbnail.visibility $thumbnail.visibility) }}
      {{- $thumbnail = $thumbnail.src }}
    {{- end }}

    {{- $isGif := strings.HasSuffix $thumbnail ".gif" }}
    {{- $showThumbnail := and (in $visibility $class) (or (ne $class "post") (not $isGif)) }}
    {{- $gif := $page.Params.gif }}
    {{- $showGif := and $gif (eq $class "list") }}

    {{- if $showThumbnail }}
      <a class="thumbnail__link" href="{{ $page.RelPermalink }}" aria-label="View {{ $page.Title }}">
        <figure class="thumbnail">
          {{- if $thumbnail }}
            <div class="thumbnail__video{{ if $showGif }} thumbnail__video--with-gif{{ end }}">
              <img
                class="thumbnail__image{{ if in $page.Params.categories "repost" }} repost__thumbnail__image{{ end }}"
                src="/cdn-cgi/image/width=750,quality=85,format=auto{{ $thumbnail | relURL }}"
                alt="{{ $page.Title }}"
                {{- if and (eq $class "list") (gt $index 0) }}
                loading="lazy"
                {{- else if or (eq $class "post") (and (eq $class "list") (eq $index 0)) }}
                fetchpriority="high"
                {{- end }}
              >
              {{- if $showGif }}
                <img
                  class="thumbnail__gif"
                  data-src="/cdn-cgi/image/width=750,quality=85,format=auto{{ $gif | relURL }}"
                  alt="{{ $page.Title }} - Animated"
                  loading="lazy"
                >
              {{- end }}
            </div>
          {{- end }}
        </figure>
      </a>
    {{- end }}
  {{- end }}
{{- end }}
