{{ $sidebar := .Site.Params.sidebar.default }}

{{ if eq .Kind "home" }}
    {{ $sidebar = default .Site.Params.sidebar.home .Params.sidebar }}
{{ else if eq .Kind "page" }}
    {{ $sidebar = default .Site.Params.sidebar.single .Params.sidebar }}
{{ else }}
    {{ $sidebar = default .Site.Params.sidebar.list .Params.sidebar }}
{{ end }}

{{ if $sidebar }}
<aside class="sidebar{{ if eq $sidebar "left" }} sidebar--left{{ end }}">



    <div class="backstory-sidebar">
        <div class="backstory-logo">
            <img alt="backstory podcast logo" height=54px width=100px src="/cdn-cgi/image/width=200,quality=100,format=auto/img/backstory-logo.jpg">
        </div>
        <div class="backstory-social">
            <a aria-label="Backstory Podcast Facebook Page" style="height: 24px;width:24px;" href="https://www.facebook.com/BackstoryPodcast/">{{ partial "svg/facebook.svg" (dict "id" "facebook") }}</a>
            <a aria-label="Backstory Podcast Rumble Page" style="height: 24px;width:24px;" href="https://rumble.com/user/BackstoryPodcast">{{ partial "svg/rumble.svg" (dict "id" "rumble") }}</a>
            <a aria-label="Contact Backstory Podcast by Email" style="height: 24px;width:24px;" href="mailto:backstory@rippreport.com">{{ partial "svg/email.svg" (dict "id" "email") }}</a>
        </div>
    </div>
    <div class="bsp_container">
  {{ partial "soundcloud.html" . }}
    </div>
    {{- $root := . }}
    {{- with default .Site.Params.sidebar.widgets .Params.widgets }}
        {{- range $widget := . }}
            {{- $p := printf "widgets/%s.html" $widget }}
            {{- partial $p $root }}
        {{- end }}
    {{- else }}
        <p class="sidebar__warning"><strong>{{ T "sidebar_warning" }}:</strong><br>{{ T "sidebar_recommendation" }}</p>
    {{- end }}

</aside>
{{- end }}
