{{ $sidebar := .Site.Params.sidebar.default }}

{{ if eq .Kind "home" }}
    {{ $sidebar = default .Site.Params.sidebar.home .Params.sidebar }}
{{ else if eq .Kind "page" }}
    {{ $sidebar = default .Site.Params.sidebar.single .Params.sidebar }}
{{ else }}
    {{ $sidebar = default .Site.Params.sidebar.list .Params.sidebar }}
{{ end }}

{{ if $sidebar }}
<aside class="sidebar{{ if eq $sidebar "left" }} sidebar--left{{ end }}">
    <div id="mc_embed_shell">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup {
                background: #fff;
                clear: left;
                font: 14px Helvetica, Arial, sans-serif;
                width: 600px;
            }
        </style>
        <div style="width: 100%; background: #2d2f32; color: white; padding: 1.25em;" id="mc_embed_signup">
            <form action="https://rippreport.us17.list-manage.com/subscribe/post?u=98481555ada2777e9ee901545&amp;id=874f5e6494&amp;f_id=000f55e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <div id="mc_embed_signup_scroll">
                    <div class="mc-field-group">
                        <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                        <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                        <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                    </div>
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                    <div style="position: absolute; left: -5000px;" aria-hidden="true">
                        <input type="text" name="b_98481555ada2777e9ee901545_874f5e6494" tabindex="-1" value="">
                    </div>
                    <div class="optionalParent">
                        <div class="clear foot">
                            <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn" value="Subscribe" style="font-size: 1.25em; font-weight: 400;">
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
        <script type="text/javascript">
            (function($) {
                window.fnames = new Array();
                window.ftypes = new Array();
                fnames[0] = 'EMAIL';
                ftypes[0] = 'email';
                fnames[1] = 'FNAME';
                ftypes[1] = 'text';
                fnames[2] = 'LNAME';
                ftypes[2] = 'text';
                fnames[3] = 'BIRTHDAY';
                ftypes[3] = 'birthday';
            }(jQuery));
            var $mcj = jQuery.noConflict(true);
        </script>
    </div>
    <div class="backstory-sidebar">
        <div class="backstory-logo">
            <img src="https://rippreport.com/img/backstory-logo.jpg">
        </div>
        <div class="backstory-social">
            <a href="https://www.facebook.com/BackstoryPodcast/">{{ partial "svg/facebook.svg" (dict "id" "facebook") }}</a>
            <a style="margin-right: 10px;" href="https://rumble.com/user/BackstoryPodcast">{{ partial "svg/rumble.svg" (dict "id" "rumble") }}</a>
            <a href="mailto:backstory@rippreport.com">{{ partial "svg/email.svg" (dict "id" "email") }}</a>
        </div>
    </div>
    <iframe width="100%" height="450" scrolling="no" frameborder="no" allow="autoplay" style="opacity: .8" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/696620853&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=true&amp;show_comments=false&amp;show_user=false&amp;show_reposts=false&amp;show_teaser=false"></iframe>
    <div class="dwtd-sidebar">
	<div class="deal-logo"></div>
	<h3>Wrongful Conviction</h3>
	<span class="btn">Donate</span>
	<span class="btn">Full Story</span>
	<h4>Relevant Articles</h4>
	<div class="dwtd-articles">
	<article>
	<h5>Innocent</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/innocent.jpg" />
	<p>Murray "Bubba" Lawrence was convicted of capital murder in Baldwin County, Alabama, on May 13, 2005, after spending 11 months and 10 days incarcerated. The case involved the murder of Brandon Hastings, with the conviction primarily relying on the testimony of an accomplice, lack of substantial evidence, and a flawed investigation.</p>
	<hr>
	</article>
	<article>
	<h5>The Truth</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/thetruth.jpg" />
	<p>Jarious McNeil, the last person seen with Brandon Hastings, becomes a central figure in this case. He was involved in selling parts from Hastings' car and had a questionable testimony. During the investigation, McNeil changed his story multiple times.</p>
	<hr>
	</article>
	<article>
	<h5>David Whetstone</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/whetstone.jpg" />
	<p>Among the personal items that former Baldwin County District Attorney David Whetstone left behind after leaving office in 2006, easily the most curious was a wooden statue of a devil. 'Devil statue is mine — and it seems cursed'</p>
	<hr>
	</article>
	<article>
	<h5>Baldwin County Sheriffs Office</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/bcso.jpg" />
	<p>The Baldwin County Sheriff's Office has been mired in controversy over qualification rules and legal challenges related to their enforcement decisions.</p>
	<hr>
	</article>
	<article>
	<h5>Who Cares?</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/whocares.jpg" />
	<p>The Alabama Attorney General, Steve Marshall, and Governor Ivy's priorities have been questioned, as they seem to prioritize politics over human rights. Wrongful convictions are on the rise across the United States, and Alabama has gained a notorious reputation in this regard.</p>
	<hr>
	</article>
	<article>
	<h5>Robert Yates</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/yates.jpg" />
	<p>According to the complaint, deputies were attempting to serve an eviction notice on Robert Yates when he allegedly fired a “warning shot” from within his mobile home</p>
	<hr>
	</article>
	<article>
	<h5>Jonathan Victor</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/victor.jpg" />
	<p>In a wrongful death lawsuit against Baldwin County Sheriff Huey "Hoss" Mack and Deputy Matt Hunady, additional video and audio from a 2017 officer-involved shooting have been submitted to federal court. This evidence raises questions about the use of deadly force in the death of Jonathan Victor during a SWAT standoff following a car accident.</p>
	<hr>
	</article>
	<article>
	<h5>William Earnest Kuenzel</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/kuenzel.jpg" />
	<p>Alabama Death Row inmate William Ernest Kuenzel's attorneys have filed an appeal to the U.S. Supreme Court, seeking permission to present new evidence proving his innocence in the 1987 shooting death of a convenience store clerk. Despite gaining support from various figures, Kuenzel's appeals were unsuccessful, and he passed away from cancer after spending over three decades on death row.</p>
	<hr>
	</article>
	<article>
	<h5>Joseph and Kevin Andrews, Dominic Scotti Garcia, Crystal Lee Moradie, Payton Leigh Northcut</h5>
	<img src="https://dwtd.rippreport.pages.dev/img/innocent.jpg" />
	<p>An incident involving a Baldwin County sheriff's deputy pursuing a vehicle against traffic on Interstate 10 resulted in a high-speed collision, claiming the lives of five individuals. Questions are now being raised about whether the deputy violated policy during the pursuit.</p>
	<hr>
	</article>
	</div>
	</div>
	{{- $root := . }}
    {{- with default .Site.Params.sidebar.widgets .Params.widgets }}
        {{- range $widget := . }}
            {{- $p := printf "widgets/%s.html" $widget }}
            {{- partial $p $root }}
        {{- end }}
    {{- else }}
        <p class="sidebar__warning"><strong>{{ T "sidebar_warning" }}:</strong><br>{{ T "sidebar_recommendation" }}</p>
    {{- end }}

</aside>
{{- end }}
