{{ $sidebar := .Site.Params.sidebar.default }}

{{ if eq .Kind "home" }}
    {{ $sidebar = default .Site.Params.sidebar.home .Params.sidebar }}
{{ else if eq .Kind "page" }}
    {{ $sidebar = default .Site.Params.sidebar.single .Params.sidebar }}
{{ else }}
    {{ $sidebar = default .Site.Params.sidebar.list .Params.sidebar }}
{{ end }}

{{ if $sidebar }}
<aside class="sidebar{{ if eq $sidebar "left" }} sidebar--left{{ end }}">
    <!-- Your existing Mailchimp form and other sidebar content -->

    {{- $rssURL := "https://www.lagniappemobile.com/search/?f=rss&t=article&c=opinion/columnists/dtt" -}}
    {{- $numArticles := 8 -}}

    {{- with getRSS $rssURL -}}
        <div class="torpedo-widget">
            <h2>Damn the Torpedoes - Lagniappe</h2>
            <ul>
                {{- range first $numArticles .Items -}}
                    <li>
                        <a href="{{ .URL }}">{{ .Title }}</a>
                        <p>{{ .Description }}</p>
                        <p>Published on {{ .Date.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</p>
                    </li>
                {{- end -}}
            </ul>
        </div>
    {{- end -}}

    <!-- The rest of your sidebar content -->
</aside>
{{ end }}
