{{- $url := .Get "url" -}}
{{- $workerURL := (print "https://links.rippreport.com?q=" $url) -}}
{{- $json := getJSON $workerURL -}}

{{- if and (isset $json "error") (strings.HasPrefix $json.error "Error") -}}
    {{- $parsedURL := urls.Parse $url -}}
    {{- if eq $parsedURL.Host "rippreport.com" -}}
        {{- $newURL := print "https://rippreport.com/p" $parsedURL.Path -}}
        {{- $workerURL = (print "https://links.rippreport.com?q=" $newURL) -}}
        {{- $json = getJSON $workerURL -}}

        {{- if and (isset $json "error") (strings.HasPrefix $json.error "Error") -}}
            {{ warnf "Error fetching social preview for %s: %s", $newURL, $json.error }}
            {{/* Fallback to the original URL if both attempts fail */}}
            <a href="{{ $url }}">{{ $url }}</a>
            {{- return -}}
        {{- end -}}
    {{- else -}}
        {{ warnf "Error fetching social preview for %s: %s", $url, $json.error }}
        {{/* Fallback to the original URL if the first attempt fails */}}
        <a href="{{ $url }}">{{ $url }}</a>
        {{- return -}}
    {{- end -}}
{{- end -}}

{{- if $json.url -}}
    {{- $parsedURL := urls.Parse $url -}}
    {{- $baseURL := $parsedURL.Host -}}
    <div class="social-preview">
        <a href="{{ $json.url }}">
            {{- $image := $json.image | default "https://rippreport.com/img/placeholder.png" -}}
            <img loading="lazy" src="{{ $image }}" alt="{{ $json.title }}">
            <h2>
                {{- if or (eq $baseURL "www.lagniappemobile.com") (eq $baseURL "www.al.com") (eq $baseURL "mynbc15.com") (eq $baseURL "weartv.com") (eq $baseURL "1819news.com") (eq $baseURL "rippreport.com") (eq $baseURL "www.fox10tv.com") (eq $baseURL "www.montgomeryadvertiser.com") (eq $baseURL "gulfcoastmedia.com") (eq $baseURL "www.gulfcoastnewstoday.com") (eq $baseURL "www.alreporter.com") (eq $baseURL "www.altoday.com") -}}

                {{- partial (print "svg/" $baseURL ".svg") (dict "id" $baseURL) }}
                <br>
                {{- if or (eq $baseURL "www.gulfcoastnewstoday.com") (eq $baseURL "gulfcoastmedia.com") -}}
                {{ $json.title | strings.TrimSuffix "- Gulf Coast Media" }}
                {{- else if eq $baseURL "www.altoday.com" -}}
                {{ $json.title | strings.TrimSuffix "altoday.com" }}
                {{- else -}}
                {{ $json.title }}
                {{- end -}}

                {{- else if eq $baseURL "thefairhopetimes.blogspot.com" -}}
                {{ $json.title }}
                {{- else -}}
                {{ $json.title }} <br> {{ $baseURL }}
                {{- end -}}
            </h2>
            <p>{{ $json.description }}</p>
            <span class="read_more">Read More</span>
        </a>
    </div>
{{- else -}}
    <a href="{{ $url }}">{{ $url }}</a>
{{- end -}}

