{{/* Process image URL based on domain */}}
{{- range $domain, $rules := $processImageURL -}}
    {{- if strings.HasPrefix $image $domain -}}
        {{- if isset $rules "pattern" -}}
            {{- $image = $image | replaceRE $rules.pattern $rules.replacement -}}
        {{- else if isset $rules "from" -}}
            {{- $image = replace $image $rules.from $rules.to -}}
        {{- else if isset $rules "width" -}}
            {{- $image = $image | replaceRE "width=[0-9]+" $rules.width | replaceRE "quality=[0-9]+" $rules.quality -}}
        {{- end -}}
    {{- end -}}
{{- end -}}

<div class="social-preview{{ if $noFloat }} sink-preview{{ end }}" data-source="{{ $baseURL }}">
    <a href="{{ $json.url }}" rel="noopener">
        <img
            loading="lazy"
            src="{{ if strings.HasPrefix $image "https://rippreport.com" }}
                    /cdn-cgi/image/width=380,quality=70,format=auto{{ $image | strings.TrimPrefix "https://rippreport.com" }}
                {{ else }}
                    {{ $image }}
                {{ end }}"
            alt="{{ $json.title }}"
            width="380"
            height="200"
        >
        <h2>
            {{- if isset $sources $baseURL -}}
                {{- with index $sources $baseURL -}}
                    {{- if isset . "partial" -}}
                        {{ partial .partial (dict "id" .id) }}
                        <br>
                    {{- else if isset . "image" -}}
                        <img
                            loading="lazy"
                            src="{{ .image }}"
                            alt="{{ .alt }}"
                            style="{{ .style }}"
                        >
                        <br>
                    {{- end -}}
                    {{ $json.title | strings.TrimSuffix .trim }}
                {{- end -}}
            {{- else if eq $baseURL "thefairhopetimes.blogspot.com" -}}
                {{ $json.title }}
            {{- else -}}
                {{ $json.title }}
                <br>
                <span class="source-url">{{ $baseURL }}</span>
            {{- end -}}
        </h2>
        <p>{{ $json.description }}</p>
        <span class="read_more">Read More</span>
    </a>
</div>
